<%= form_tag props_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a prop"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="container">
<h1>Choisissez votre accessoire !</h1>
  <div class="props-list">
    <div class="row">
      <% @props.each do |prop| %>
      <div class="col-4">
        <div class="prop-card">
          <img src="https://source.unsplash.com/random" alt="illustration">
            <div class="prop-card-info">
              <h2><%= prop.name %></h2>
              <p><%= prop.description %></p>
              <div class="prop-card-details">
                <p><i class="fas fa-film"></i> <%= prop.movie.name %></p>
                <p class="price"><%= prop.price %> <i class="fas fa-euro-sign"></i></p>
                <%= link_to "Louer", prop_path(prop), :class => "btn btn-outline-danger btn-sm" %>
              </div>
            </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
