<h1>SHOW - Votre objet</h1>
<p><%= @prop.name %></p>
<p><%= @prop.movie.name %></p>
<p><%= @prop.category %></p>
<p><%= @prop.description %></p>
<p><%= @prop.price %></p>
<%= cl_image_tag @prop.photo.key, height: 300, width: 400, crop: :fill %>

<%= simple_form_for [ @prop, @booking] do |f| %>
  <%= f.input :date %>
  <%= f.submit "Book this object", class: "btn btn-primary" %>
<% end %>


<!-- <p><%= @prop.availability %></p> -->
