<div class="banner">
  <div class="header-container">
    <h1>A DAY IN A MOVIE</h1>
    <p>Le temps d'une journée, entrez dans la peau de votre héros préféré</p>
    <%= link_to "Réservez un objet", props_path, :class => "btn btn-flat" %>
  </div>
</div>

<div class="container py-2">
<h1 class="py-3">Découvrez les objets à louer</h1>
  <div class="props-list">
    <div class="row">
      <div class="col-4">
        <div class="prop-card">
          <%= cl_image_tag @prop1.photo.key, height: 300, width: 400, crop: :fill %>
            <div class="prop-card-info">
              <h2><%= @prop1.name %></h2>
              <p><%= @prop1.description %></p>
              <div class="prop-card-details">
                <p><i class="fas fa-film"></i> <%= @prop1.movie.name %></p>
                <p class="price"><%= @prop1.price %> <i class="fas fa-euro-sign"></i></p>
                <%= link_to "Louer", prop_path(@prop1), :class => "btn btn-outline-danger btn-sm" %>
              </div>
            </div>
        </div>
      </div>

      <div class="col-4">
        <div class="prop-card">
          <%= cl_image_tag @prop2.photo.key, height: 300, width: 400, crop: :fill %>
            <div class="prop-card-info">
              <h2><%= @prop2.name %></h2>
              <p><%= @prop2.description %></p>
              <div class="prop-card-details">
                <p><i class="fas fa-film"></i> <%= @prop2.movie.name %></p>
                <p class="price"><%= @prop2.price %> <i class="fas fa-euro-sign"></i></p>
                <%= link_to "Louer", prop_path(@prop2), :class => "btn btn-outline-danger btn-sm" %>
              </div>
            </div>
        </div>
      </div>

      <div class="col-4">
        <div class="prop-card">
            <%= cl_image_tag @prop3.photo.key, height: 300, width: 400, crop: :fill %>
              <div class="prop-card-info">
                <h2><%= @prop3.name %></h2>
                <p><%= @prop3.description %></p>
                <div class="prop-card-details">
                  <p><i class="fas fa-film"></i> <%= @prop3.movie.name %></p>
                  <p class="price"><%= @prop3.price %> <i class="fas fa-euro-sign"></i></p>
                  <%= link_to "Louer", prop_path(@prop3), :class => "btn btn-outline-danger btn-sm" %>
                </div>
              </div>
          </div>
      </div>

    </div>
  </div>
</div>

